table
{
    width: 100%;
}
table tr
{
   border: 2px solid #000000;
}
table th
{
    background-color: rgb(160, 245, 250);
    padding: 10px;
    border: 1px solid #000000;
}
table td
{
    border-bottom: 1px solid rgb(156, 155, 155);
}
table img 
{
   width: 100px;
}
#delete
{
   cursor: pointer;
}